@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* rocket theme */
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

.gradient-heading {
	@apply box-decoration-clone bg-clip-text text-transparent;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-secondary-500 via-tertiary-500 to-primary-500;
}
.gradient-slice {
	@apply box-decoration-clone bg-clip-text text-transparent;
	/* Direction */
	@apply bg-gradient-to-tr;
	/* Color Stops */
	@apply from-secondary-500/50 via-tertiary-500/50 to-error-500/50;
}
