@import '@fontsource/advent-pro/400.css';
@import '@fontsource/advent-pro/500.css';
@import '@fontsource/advent-pro/600.css';
@import '@fontsource/lato/400-italic.css';
@import '@fontsource/lato/400.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='myCustonTheme'] {
	--theme-font-family-heading: 'Advent Pro', sans-serif;
	--theme-font-family-base: 'Lato', sans-serif;
}

/* Original Gradient */
/* body {
	background-image: radial-gradient(
			at 0% 0%,
			rgba(var(--color-secondary-500) / 0.33) 0px,
			transparent 80%
		),
		radial-gradient(at 98% 1%, rgba(var(--color-error-500) / 0.33) 0px, transparent 80%),
		radial-gradient(at 0% 98%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%);
		
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

/* Photo implication */
body {
	background-image: url('/wideBG.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
